.page1 {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  background-color: grey;
}

.header1,
.navigation1 {
  padding: 20px;
  margin: 10px 0;
  background-color: pink;
}

.section1 {
  float: left;
  width: 495px;
  height: 220px;
  margin: 0 10px 10px 0;
  background-color: blue;
}

.aside1 {
  float: left;
  width: 455px;
  height: 220px;
  background-color: yellow;
}

.article1 {
  margin: 40px 20px 10px 20px;
  padding: 10px;
  height: 120px;
  color: white;
  background-color: grey;
}

.subheaders1 {
  padding: 10px;
  margin: 10px;
  color: black;
  background-color: white;
}

.paragraphs1 {
  padding: 10px;
  margin: 10px;
  color: black;
  background-color: white;
}

.footer1 {
  clear: both;
  padding: 20px;
  margin: 10px 0;
  background-color: green;
}

.text1 {
  float: left;
  width: 100%;
}
