body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  background-color: #777;
  width: 960px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.header1,
.navigation1 {
  padding: 20px;
  margin: 10px 0;
  background-color: #ebebeb;
}

.section1 {
  float: left;
  width: 495px;
  height: 220px;
  margin: 0 10px 10px 0;
  background-color: #ebebeb;
}

.aside1 {
  float: left;
  width: 455px;
  height: 220px;
  background-color: #ebebeb;
}

.article1 {
  margin: 40px 10px 0 10px;
  padding: 10px;
  height: 130px;
  color: #ebebeb;
  background-color: #777;
}

.subheaders1,
.paragraphs1 {
  padding: 10px;
  margin: 10px;
  color: #777;
  background-color: #ebebeb;
}

.footer1 {
  clear: both;
  padding: 20px;
  margin: 10px 0;
  background-color: #ebebeb;
}

.text1 {
  float: left;
  width: 100%;
}
